{% extends 'base.twig' %}

{% block content %}
<h3>La liste des auteurs</h3>
<p> Il y a en tout {{ nb_auteurs }} auteurs.</p>
<ol type="1">
    {% for j in liste %}
    <li id="li2"><a class='test external' href="/appli_covid19/auteurs/{{ j.name }}">{{ j.name }}</a></li>
    {% endfor %}
</ol>

<div class="pagination">
    <span class="step-links">
        {% if liste.has_previous %}
            <input type="button" onclick="window.location.href = '?page=1';" value="<<"/>
            <input type="button" onclick="window.location.href = '?page={{ liste.previous_page_number }}';" value="précedent"/>
        {% endif %}

        <span class="current">
            Page {{ liste.number }}/{{ liste.paginator.num_pages }}
        </span>
        {% if liste.has_next %}
            <input type="button" onclick="window.location.href = '?page={{ liste.next_page_number }}';" value="suivant"/>
            <input type="button" onclick="window.location.href = '?page={{ liste.paginator.num_pages }}';" value=">>"/>
        {% endif %}
    </span>
</div>
{% endblock %}
